<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Aplicação Gerenciadora de Leilão de Quadrinhos</display-name>
  <context-param>
    <param-name>incomingURLs</param-name>
    <param-value>http://localhost:5500;https://leilaodequadrinhos.com;http://localhost:80;http://127.0.0.1:80;http://127.0.0.1:5500</param-value>
  </context-param>
</web-app>
